In [6]:
import pandas as pd

## 자료 확인

In [5]:
# 불러오기

# df = pd.read_excel(r"C:\Project\data\(재수정) 친환경 연료 차량_연도별.xlsx")
# df2 = pd.read_excel(r"C:\Project\data\(원본) 연료별 등록 차량 대수_연도별.xlsx")
# df3 = pd.read_excel(r"C:\Project\data\자동차등록현황보고 (2018 ~ 2023) 승용차기준(수정).xlsx")
df4 = pd.read_csv(r"C:\Project\data\hydrogen_car.csv")

In [6]:
df4

       증가량      계    년도
0      NaN    893  2018
1   4190.0   5083  2019
2   5823.0  10906  2020
3   8498.0  19404  2021
4  10219.0  29623  2022
5   4635.0  34258  2023

## 수정하기

In [21]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [24]:
df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,2018,2019,2020,2021,2022,2023,2024
1,전기,46038,80902,124409,201520,347395,501485,647446
2,천연가스,2094485,2045369,2028853,1989786,1950764,1879088,1878220
3,하이브리드,374666,476478,612577,844563,1103642,1434619,1878615
4,수소,466,3436,9494,17076,26719,33501,36979
5,기타,2,2,1,2,5,4,2
6,합계,2515657,2876185,2775334,3052947,3428525,3848697,4441262

## 저장하기

In [26]:
# CSV 파일로 저장
df3.to_csv(r"C:\Project\source\자동차등록현황보고 (2018 ~ 2023) 승용차기준(수정).csv", index=False, encoding='utf-8-sig')

In [27]:
df.to_csv(r"C:\Project\source\(재수정) 친환경 연료 차량_연도별.csv", index=False, encoding='utf-8-sig')

In [30]:
df2.to_csv(r"C:\Project\source\(원본) 연료별 등록 차량 대수_연도별.csv", index=False, encoding='utf-8-sig')